.navBrand {
	width: 60px;
	height: 40px;}

.navbar {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/7c/3c/18/7c3c18c72c2c5e275e3303e462bf9ef6.jpg);
  background-repeat: repeat-x;
}
.card {
	margin-bottom: 10px;
}
.card-text
{
	font-size: 14;
}
.card-footer {
	font-size:20;
}

.body  {
	background-color: #d5f6f6;
}

.card {
	border-color: #BC0737;
	border-width: 1px

}
.card-block {
background-color: 	#eab4c3
}
.body  {
	background-color:  #d5f6f6;
	padding-top: 80px
}