/*element selector*/

body {
	color: black;
	text-align: center;
	background-image: url();	
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "arial";
	
}

a {
	cursor: crosshair; 
}
form {

}


/*class selector*/
.class1 {
	color: yellow
}
.class1:hover {
	color: pink;
}
.class2 {
	background: pink
}
/*id selector*/
#header2 {
	cursor: zoom-in;
}