.navBrand {
	width: 50px;
	height: 40px;
	border-radius: 7px
}
.card {
	margin-bottom: 10px;
	border-radius: 7px
}
.card-text
{
	font-size: 14;
	font-family: 'Righteous', cursive;
}

.card-footer {
	font-size:20;
}

.body  {
	background-color:  #d5f6f6;
	padding-top: 80px
}

.card {
	border-color: #BC0737;
	border-width: 2px
	

}
.card-block {
  
  background:repeating-linear-gradient(45deg,
  #ffffff,
  #ffffff 5px,
  #fff7e6 5px,
  #fff7e6 10px);
  opacity: 0.75; 

}
.card-block:hover {
	opacity: 1
}

.navbar {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/7c/3c/18/7c3c18c72c2c5e275e3303e462bf9ef6.jpg);
  background-repeat: repeat-x;
}
.card-title {
	color: #BC0737 ;
	font-size: 25;
	font-family: 'Lobster', cursive;}

.recipes {
	font-size: 14
}
.spotify {
	border: 1px;
	border-radius:5px;
	margin-bottom: 5px;
}
.card-block-title {
	  background:repeating-linear-gradient(45deg,
  #ffffff,
  #ffffff 5px,
  #fff7e6 5px,
  #fff7e6 10px);
}